<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav class="navbar">
      <div class="navbar__brand">
        <a th:href="@{/}" class="navbar__link">MyMarketplace</a>
      </div>
    <ul class="navbar__menu">
      <li><a th:href="@{/}"              class="navbar__link">Home</a></li>
      <li><a th:href="@{/annunci}"       class="navbar__link">Annunci</a></li>
      <li><a th:href="@{/user/profile}"  class="navbar__link">Profilo</a></li>
      <li><a th:href="@{/logout}"        class="navbar__link">Logout</a></li>
    </ul>
  </body>
</html>
